<?xml version="1.0"?>
<launch>
  <node pkg="joy" type="joy_node" name="joy_node"/>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" args="scan:=/scan">
    <param name="xmin" value="-2.0"/>
    <param name="xmax" value="2.0"/>
    <param name="ymin" value="-2.0"/>
    <param name="ymax" value="2.0"/>
    <param name="delta" value="0.05"/>
  </node>

  <node pkg="robmob" type="teleop_node" name="teleop_node"/>
  <!-- <node pkg="robmob" type="planif_node" name="planif_node"/>
  <node pkg="robmob" type="raliment_node" name="raliment_node"/> -->
</launch>
